div.shop > div.shop-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}

@media only screen and (min-width: 600px){
    div.shop > div.shop-controls{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}