.fancyGallery{
    padding: 20px 10px;
}


.fancyGallery,
.fancyGallery-buttons-container,
.fancyGallery-buttons-wrap,
.fancyGallery-gallery{
    width: 100%;
}

.fancyGallery-buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 530px;
    margin: 0px auto;
    padding: 20px 20px 0px 20px;
}


.fancyGallery-buttons-container::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(black), color-stop(#d9d9d9), to(black));
    background: -o-linear-gradient(right, black, #d9d9d9, black);
    background: linear-gradient(to left, black, #d9d9d9, black);
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
}

div.inViewListener.show-component .fancyGallery-buttons-container::after{
    width: 100%;
    right: 0;
}



.fancyGallery-gallery{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 70vh;
    padding-top: 52px;
}
