div.img-wrapp{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
    width: 100%;
}

@media only screen and (min-width: 600px){
    div.img-wrapp{
        /* display: block; */
        column-count: 2;
        column-gap: 0px;
    }
}

@media only screen and (min-width: 992px){
    div.img-wrapp{
        column-count: 3;
    }
}

@media only screen and (min-width: 1092px){
    div.img-wrapp{
        column-count: 4;
    }
}