.header-container{
    position: relative;
    margin: 0;
    padding: 42px 0 10px 0;
    width: 100%;
    color: inherit;
}

.home-carousels .header-container{
    margin-bottom: 62px;
}

.header-container > .text-wrapp {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
}


div.inViewListener.show-component .header-container > .text-wrapp {
    -webkit-animation: flipInX 1.3s forwards;
            animation: flipInX 1.3s forwards;
}

.header-container h1 {
    margin: 0;
    line-height: 5rem;
    font-family: monospace;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}

.header-container p {
    margin: 0;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.header-container::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(black),color-stop(#b3b3b3), color-stop(black), color-stop(black),color-stop(#b3b3b3),to(black));
    background: -o-linear-gradient(right, black,#b3b3b3, black, black,#b3b3b3,black);
    background: linear-gradient(to left, black,#b3b3b3, black, black,#b3b3b3,black);
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
}
.header-container::before{
    content: '\2727';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    top: calc(100% - 0.5em);
    z-index: 900;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    font-family: monospace;
    color: #b3b3b3;
    opacity: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

div.inViewListener.show-component .header-container::after{
    width: 100%;
}
div.inViewListener.show-component .header-container::before{
    opacity: 1;
}

.text-divider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.text-divider > svg {
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
}

@media only screen and (min-width: 756px){
    .header-container h1 {
        letter-spacing: 1rem;
    }
}

@media only screen and (min-width: 992px){
    .header-container h1 {
        font-size: 4rem;
    }
    .header-container p {
        font-size: 1.2rem;
    }
}

@-webkit-keyframes flipInX {
    0% {
       -webkit-transform: perspective(400px) rotateX(90deg);
               transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       -webkit-transform: perspective(400px) rotateX(-10deg);
               transform: perspective(400px) rotateX(-10deg);
       opacity: 1;
    }
    70% {
       -webkit-transform: perspective(400px) rotateX(10deg);
               transform: perspective(400px) rotateX(10deg);
       opacity: 0.5;
    }
    100% {
       -webkit-transform: perspective(400px) rotateX(0deg);
               transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 }

@keyframes flipInX {
    0% {
       -webkit-transform: perspective(400px) rotateX(90deg);
               transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       -webkit-transform: perspective(400px) rotateX(-10deg);
               transform: perspective(400px) rotateX(-10deg);
       opacity: 1;
    }
    70% {
       -webkit-transform: perspective(400px) rotateX(10deg);
               transform: perspective(400px) rotateX(10deg);
       opacity: 0.5;
    }
    100% {
       -webkit-transform: perspective(400px) rotateX(0deg);
               transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 } 