
.header-container{
    position: relative;
    width: 100%;
    /* height: 8rem; */
    color: inherit;

}

.header-container > .text-wrapp {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 8rem; */
    opacity: 0;
    overflow: hidden;
}

div.inViewListener.show-component .header-container > .text-wrapp {
    animation: flipInX 1.3s forwards;
}

.header-container h1 {
    /* height: 5rem; */
    margin: 0;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 500;
}

.header-container p {
    /* height: 2rem; */
    margin: 0;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.text-divider {
    position: relative;
    width: 80%;
    /* height: 1px; */
    margin: 0 auto;
    max-width: 300px;
    transform: rotate(180deg);
    /* box-shadow: 0 0 3px white; */
}

.text-divider > svg {
    transform: rotateX(-70deg);
}



@media only screen and (min-width: 992px){
    .header-container h1 {
        font-size: 4rem;
    }
    .header-container p {
        font-size: 1.2rem;
    }
}

@keyframes flipInX {
    0% {
       transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateX(-10deg);
       opacity: 1;
    }
    70% {
       transform: perspective(400px) rotateX(10deg);
       opacity: 0.5;
    }
    100% {
       transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 } 