.toolbar {
    position: relative;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0.5rem 7px;
    line-height: 4rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    background-color: #000000;
    -webkit-box-shadow: 0px 2px 6px black, -2px 2px 6px black, 2px 2px 6px black;
            box-shadow: 0px 2px 6px black, -2px 2px 6px black, 2px 2px 6px black;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    z-index: 1000;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

.toolbar-border{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 4rem;
    padding-left: 10px;
    border: 1px solid white;
    border-bottom: none;
    cursor: pointer;
}

.toolbar-border > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: white;
}

.desk-only{
    display: none;
}

@media only screen and (min-width: 992px){
    .toolbar{
        position: fixed;
        top: -11rem;
        padding: 0px;
        height: 11rem;
        line-height: 6rem;
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .toolbar.show-menu {
        position: fixed;
        top: 0;
    }
    .toolbar-border.sm-only{
        display: none;
    }
    .desk-only{
        position: fixed;
        top: 11rem;
        right: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 5rem;
        background: rgba(0,0,0,0);
        -webkit-transition: top 0.9s;
        -o-transition: top 0.9s;
        transition: top 0.9s;
        z-index: 2;
    }

    .toolbar.show-menu .desk-only::after {
        height: 15rem;
    }
    .toolbar.show-menu .desk-only {
        top: 6rem;
    }
}


@media only screen and (min-width: 992px){
    div.toolbar div.desk-only.shadow {
            -webkit-animation-duration: 1s;
                    animation-duration: 1s;
            -webkit-animation-name: shadow;
                    animation-name: shadow;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
    }
    div.toolbar.show-menu div.desk-only.shadow {
        -webkit-animation: none;
                animation: none;
    }
}


@-webkit-keyframes shadow {
    0% {
        top: 11rem;
    }
    12%{
        top: -11rem;

    }
    70%{
        top: 11.5rem;
        background: rgba(0,0,0,0.3);

    }
    100%{
        top: 11rem;
        background: rgba(0,0,0,0.3);

    }
}


@keyframes shadow {
    0% {
        top: 11rem;
    }
    12%{
        top: -11rem;

    }
    70%{
        top: 11.5rem;
        background: rgba(0,0,0,0.3);

    }
    100%{
        top: 11rem;
        background: rgba(0,0,0,0.3);

    }
}