.portfolio{
    padding: 20px 10px;
    color: white;
}


.portfolio,
.portfolio-buttons-container,
.portfolio-buttons-wrap,
.portfolio-gallery{
    width: 100%;
}




.portfolio-buttons-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    margin: 0px auto;
    padding: 0px 20px 20px 20px;
}



.portfolio-gallery{
   
}
