.btn {
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 1rem;
	letter-spacing: 0.1rem;
    outline: none;
    border: none;
    background: #660033;
    color: white;
    overflow: hidden;
    transition: color 0.5s;
}
.btn:last-child{
    margin-right: 0px;
}

.btn span {
    position: relative;
    background: transparent;
    color: inherit;
    z-index: 2;
}

.btn::before,
.btn::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 0px;
    background: #ffffff;
    cursor: pointer;
    transition: width 0.5s cubic-bezier(1,1.82,.92,-0.03);
}

.btn::before{
    right: 50%;
}

.btn::after{
    left: 50%;
}

.btn:hover{
    color: #391326;
}
.btn.active{
    background: #ffffff;
    color: #391326;
}

.btn:hover::after,
.btn:hover::before{
    width: 50%;
}

@keyframes btnBackground{
    0% {width: 0px;}
    90% {width: 40%;}
    95% {width: 30%}
    100% {width: 50%}
}

