.about {
    position: relative;
    bottom: 0;
    z-index: 3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding:0 20px 60px 20px;
    background: black;
}

.about-header-container{
    position: relative;
    width: 100%;
    z-index: 3;
    margin-bottom: 50px;
}

div.about div.about-img-text-wrapp{
    display: inline-block;
    position: relative;
    width: 100%;
}

.about-text-container{
    width: 100%;
}

.about-text-container .paragraph-container h3{
    text-align: center;
}
.about-text-container .paragraph-container p{
    text-align: center;
}

div.about div.about-img-container {
    margin-bottom: 30px;
}

.about > .about-img-text-wrapp > .about-img-container > div.about-img-wrapp{
    display: inline-block;
    position: relative;
}

.about > .about-img-text-wrapp > .about-img-container > div.about-img-wrapp > svg {
    display: block;
    width: 250px;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
}


@media only screen and (min-width: 768px){
    .about{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        min-height: calc(100vh - 58px);
    }
    div.about div.about-img-text-wrapp{
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    div.about div.about-img-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background: black;
    }



    div.about div.about-img-container, 
    div.about div.about-text-container{
        width: 50%;
    }
    div.about div.about-text-container{
        float: right;
        padding-right: 35px;
    }
    div.about div.about-img-container div.about-img-wrapp{
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    div.about div.about-text-container .paragraph-container h3,
    div.about div.about-text-container .paragraph-container p{
        text-align: left;
    }
}


@media only screen and (min-width: 992px){
    div.about {
        padding-top: 5rem;
        min-height: 100vh;
    }
}