.home{
    position: relative;
    width: 100%;
    color: white;
    /* background: rgba(0,0,0,0.7); */
}




.home::after{
    content: '';
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    height: 150vh;
    background: url('../../assets/images/21752617_313159862486220_2846810308660514837_o.jpg') no-repeat center center;
    /* background: url('../../assets/horse_sm.jpg') no-repeat center center; */
    transform: translateZ(-1px) scale(1.5);
    background-attachment: fixed;
    /* background-position-x: 20%; */
    /* background-position-y: 20%; */
    /* background-position-y: 20%; */
    /* filter: grayscale(100%); */
    z-index: -1;
}
/* 
.home::before{
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    height: calc(81vh - 20px);
    border: 3px double rgba(0,0,0,0.4)
   
} */

/* .background-border{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border: 1px solid #1c1c1c;
} */



.home-content{
   position: relative;
   top: calc(100vh - 9rem);
   background: #000000;
}

div.home > div.about{
    margin-bottom: 50px;
}

div.home > div.about > div.about-info{
    display: none;
}

div.home > div.about div.about-header-container{
    background: #000000;
}

div.home > div.about > div.about-img-container{
    background: #000000;
}


.home-carousels{
    width: 100%;
    padding: 0 20px;
    /* padding: 30px 0; */
}

.home-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}


div.home div.home-carousel div.carousel{
    margin: 0 0 0 auto;
}
div.home div.home-carousel.right div.carousel{
    margin: 0 auto 0 0;
}

div.home-carousel > div.home-carousel-text-wrapp{
    max-width: 600px;
    /* margin: 0 auto 0 0; */
    margin: 0 auto;
}

div.home-carousel.right > div.home-carousel-text-wrapp{
    margin: 0 0 0 auto;
}

@media only screen and (min-width: 768px){
    div.home-carousels{
        padding: 0;
    }
    div.home-carousel {
        align-items: center;
        padding: 0;
    }
    div.home-carousel > div.carousel,
    div.home-carousel > div.home-carousel-text-wrapp{
        width: 50%;
        /* margin: 0 auto 0 0; */
    }
    div.home-carousel.right > div.carousel{
        order: 2;
    }
}

@media only screen and (min-width: 992px){
    div.home-carousels{
        padding: 0 20px;
    }
    .home::after{
        height: 200vh;
    }
    .home::before{
        height: calc(100vh - 20px);
    }
    .home-content{
        top: 100vh;
    }
}