.layout {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* 

.background {
    position: relative;
    height: 100vh;
}

.background::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../../assets/slider_sm.jpg') no-repeat center center;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    z-index: -1;
}

.background::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border: 1px solid #1c1c1c;
}

.background-border{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border: 1px solid #1c1c1c;
} */


@media only screen and (min-width: 992px){
    .layout{
    
    }
   
}