.footer{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 200px;
    padding: 70px 20px 20px 20px;
    background: #262626;
}

.footer > a{
    padding: 0 10px;
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
    .footer{
        height: 58px;
        min-height: unset;
        padding: 20px;
    }
}