div.shop div.shop-controls div.shop-control-container{
    width: 100%;
    background-color: black;
}

div.shop-control-container div.select-container{
    width: 100%;
    padding: 0 20px;
}

div.shop-control-container div.select-container div.select-label{
    width: 100%;
    font-size: 1.3rem;
}

div.shop-control-container div.select-container div.select-options-wrapp{
    position: relative;
    width: 100%;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-value-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-value-container span,
div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option span{
    display: inline-block;
    width: 90%;
    height: 100%;
    padding-left: 10px;
    font-size: 1.2rem;
    /* line-height: 2.5rem; */
    background: gray;
}

div.select-svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-left: 1px;
    background-color: gray;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container{
    position: absolute;
    width: 100%;
    z-index: 901;
    height: 0;
    /* overflow: hidden; */
    transition: height 0.1s ease-in-out;
}

div.shop-control-container div.select-container.show div.select-options-wrapp div.select-options-container{
height: auto;
    z-index: 901;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option{
    justify-content: flex-start;
    padding-left: 10px;
    color: darkgray;
    background: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

div.shop-control-container div.select-container.show div.select-options-wrapp div.select-options-container div.option{
    opacity: 1;
}


div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option:nth-child(1),
div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option:nth-child(3){
    position: relative;
    left: 20px;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option:nth-child(2),
div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option:nth-child(4){
    position: relative;
    left: -20px;
}

div.shop-control-container div.select-container.show div.select-options-wrapp div.select-options-container div.option{
    left: 0;
}


div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option div.select-svg-container{
    margin: 0px;
    background: white;
}

div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option span{
    background: white;
}


div.shop-control-container div.control-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin-top: 4px;
    line-height: 2.5rem;
    text-align: left;
}


@media only screen and (min-width: 600px){
    div.shop div.shop-controls div.shop-control-container{
        width: 33.33%
    }
    div.shop-control-container div.select-container div.select-options-wrapp div.select-value-container span,
div.shop-control-container div.select-container div.select-options-wrapp div.select-options-container div.option span{
    width: 80%;
    }
div.select-svg-container{
    width: 20%;
}
}


