.contacts {
    position: relative;
    z-index: 3;
    width: 100%;
    /* min-height: calc(100vh - 58px); */
    min-height: 100vh;
    padding: 13px 10px 0 10px;
    background: rgba(0,0,0,1);
    color: gray;
}

div.contacts::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('../../assets/images/map-of-the-world-2401458_640.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */

    background: url('../../assets/images/map-of-the-world-2401458_640.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    z-index: -1;
    opacity: 0.1;
}

div.contacts > div.contacts-wrapp{
    width: 100%;
}

div.contacts > div.contacts-wrapp div.contacts-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 458px;
    max-width: 100%;
    /* padding: 15px 0px 40px 0px; */
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

div.contacts > div.contacts-wrapp div.show-component div.contacts-details{
    opacity: 1;
}

div.contacts > div.contacts-wrapp div.contacts-details > div.contacts-details-wrapp{
    display: inline-block;
    text-align: left;
}


div.contacts > div.contacts-wrapp div.contacts-details > div.contacts-details-wrapp svg{
    width: 1em;
}


div.contacts > div.contacts-wrapp div.contacts-details > div.contacts-details-wrapp span{
    display: inline-block;
    padding: 5px 0px 15px 5px;
    word-wrap: break-word;

}


div.contacts div.inViewListener{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
}

.contacts div.inViewListener h2 {
    display: inline-block;
    margin: 0;
    opacity: 0;
    font-size: 2.5rem;
    font-weight: 400;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.contacts div.inViewListener.show-component h2 {
    opacity: 1;
}


div.contact-form-container{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #660033;
    max-width: 100%;
    padding: 8px 29px;
    /* width: 90%; */
    /* margin: 0 auto; */
}

div.contact-form-container > form {
    width: 400px;
    max-width: 100%;
    /* margin: 0 auto; */
}

div.contacts > div.contacts-wrapp div.contact-btn-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 15px 0px;
    text-align: left;
}

div.contacts > div.contacts-wrapp div.contact-btn-container .btn{
    padding: 10px 20px;
}

@media only screen and (min-width: 800px){
  
    div.contacts div.inViewListener{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        padding: 0 20px;
        /* flex-direction: row;
        flex-wrap: wrap; */
    }
    .contacts div.inViewListener h2{
        width: 100%;
        text-align: left;
    }
    div.contact-form-container {
        -webkit-box-flex: 60%;
            -ms-flex: 60%;
                flex: 60%;
        max-width: 400px;
        /* margin-left: 20px; */
    }

    div.contacts > div.contacts-wrapp div.contact-btn-container {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        width: 100%;
    }

    div.contacts > div.contacts-wrapp div.contacts-details{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-flex: 40%;
            -ms-flex: 40%;
                flex: 40%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* padding-top: 0px; */

    }

}

@media only screen and (min-width: 992px){
    div.contacts{
        padding-top: 65px;
    }
    div.contacts::after{
        background: url('../../assets/images/map-of-the-world-2401458_1920.jpg') no-repeat center center fixed;
    }
}
